<p id="notice"><%= notice %></p>

<h1>Newest articles</h1>
<p>Number of articles:<%= @articles.count%></p>
<p><%= link_to 'Add New Article', new_article_path %></p>


<% @articles.each do |article| %>
<h3><%= article.title %></h3>
<p><%= article.content %></p>
<p class="time_ago">Added <%= get_time(article) %> ago.</p>
<p><%= link_to 'Show', article %>
<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>

<br>


